tech/src/main/java/xmlXsd/国航支付成功.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="resp">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="orderInfo"/>
        <xs:element type="xs:string" name="code"/>
        <xs:element type="xs:string" name="prepayId"/>
        <xs:element type="xs:string" name="notifyUrl"/>
        <xs:element type="xs:string" name="msg"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>