tech/src/main/java/xmlXsd/国航联系人列表结果.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="resp">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ConnectPersonInfos" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="contactPhone"/>
                    <xs:element type="xs:string" name="contactId"/>
                    <xs:element type="xs:string" name="contactLastName"/>
                    <xs:element type="xs:string" name="email"/>
                    <xs:element type="xs:string" name="contactFirstName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="code"/>
              <xs:element type="xs:string" name="msg"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>