tech/src/main/java/xmlXsd/国航优惠码结果.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="resp">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="resbean">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:long" name="passengerlist" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element type="xs:byte" name="cutRate"/>
                    <xs:element type="xs:string" name="cutFlag"/>
                    <xs:element type="xs:string" name="couponShare"/>
                    <xs:element type="xs:string" name="checkCodeKey"/>
                    <xs:element type="xs:byte" name="couponAmount"/>
                    <xs:element type="xs:string" name="couponStatue"/>
                    <xs:element type="xs:string" name="couponcode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="code"/>
              <xs:element type="xs:string" name="msg"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>