tech/src/main/java/xmlXsd/国航乘客信息增加请求.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="m">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="req">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="mId"/>
                    <xs:element type="xs:byte" name="type"/>
                    <xs:element type="xs:string" name="lastName"/>
                    <xs:element type="xs:string" name="firstName"/>
                    <xs:element type="xs:byte" name="passengerType"/>
                    <xs:element type="xs:string" name="credentialType"/>
                    <xs:element type="xs:string" name="credentialId"/>
                    <xs:element type="xs:date" name="birthDate"/>
                    <xs:element type="xs:long" name="phone"/>
                    <xs:element type="xs:string" name="frequentFlyerType"/>
                    <xs:element type="xs:string" name="frequentlyerNO"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="token"/>
              <xs:element type="xs:string" name="lang"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="a"/>
        <xs:element type="xs:byte" name="p"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>