tech/src/main/java/xmlXsd/国航联系人列表请求.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="m">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="req">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="mId"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="token"/>
              <xs:element type="xs:string" name="lang"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="a"/>
        <xs:element type="xs:string" name="p"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>