tech/src/main/java/xmlXsd/国航基类结果.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="resp">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="code"/>
              <xs:element type="xs:string" name="msg"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>