tech/src/main/java/xmlXsd/国航验价请求.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="m">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="req">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="tripId"/>
                    <xs:element name="tripInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="zj_number"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="token"/>
              <xs:element type="xs:string" name="lang"/>
              <xs:element type="xs:int" name="userInfo1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="a"/>
        <xs:element type="xs:byte" name="p"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>