tech/src/main/java/xmlXsd/国航乘客信息列表结果.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="resp">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PassengerInfos" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="primaryTierName"/>
                    <xs:element type="xs:string" name="lastName"/>
                    <xs:element type="xs:string" name="valid"/>
                    <xs:element type="xs:long" name="phone"/>
                    <xs:element type="xs:byte" name="validFlag"/>
                    <xs:element type="xs:byte" name="associationID"/>
                    <xs:element type="xs:string" name="passengerId"/>
                    <xs:element type="xs:byte" name="passengerType"/>
                    <xs:element type="xs:string" name="credentialNationality"/>
                    <xs:element type="xs:byte" name="type"/>
                    <xs:element type="xs:string" name="credentialId"/>
                    <xs:element type="xs:string" name="primaryTierNameDesc"/>
                    <xs:element type="xs:string" name="mId"/>
                    <xs:element type="xs:string" name="nationality"/>
                    <xs:element type="xs:string" name="frequentFlyerType"/>
                    <xs:element type="xs:long" name="frequentlyerNO"/>
                    <xs:element type="xs:string" name="gender"/>
                    <xs:element type="xs:string" name="identityValidDate"/>
                    <xs:element type="xs:date" name="birthDate"/>
                    <xs:element type="xs:string" name="credentialType"/>
                    <xs:element type="xs:string" name="firstName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="code"/>
              <xs:element type="xs:string" name="msg"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>