tech/src/main/java/xmlXsd/海航国际支付结果.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OJ_PaymentRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Success"/>
        <xs:element name="ThreeDSecure">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="Param">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Type" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="Version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>