tech/src/main/java/xmlXsd/海航国际支付请求.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OJ_PaymentRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="POS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Source">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="RequestorID">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="ID"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Channel"/>
                  <xs:attribute type="xs:string" name="ISOCountry"/>
                  <xs:attribute type="xs:string" name="ISOCurrency"/>
                  <xs:attribute type="xs:string" name="PseudoCityCode"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PaymentDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PaymentDetail">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PaymentAmount">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Amount"/>
                            <xs:attribute type="xs:string" name="CurrencyCode"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="PaymentTransactionTypeCode"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ThreeDSecure">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Param" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Type" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="PrimaryLangID"/>
      <xs:attribute type="xs:string" name="SPNR_ProductID"/>
      <xs:attribute type="xs:string" name="TimeStamp"/>
    </xs:complexType>
  </xs:element>
</xs:schema>