tech/src/main/java/xmlXsd/海航国际退票结果.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HU_RefundApplicationRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Success"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="Version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>