tech/src/main/java/xmlXsd/瑞丽支付请求.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="OrderNo"/>
        <xs:element type="xs:string" name="WebPayInfoId"/>
        <xs:element type="xs:string" name="ThirdPayName"/>
        <xs:element type="xs:string" name="BankType"/>
        <xs:element type="xs:string" name="BankBillNo"/>
        <xs:element type="xs:string" name="TotalFee"/>
        <xs:element type="xs:string" name="TransactionId"/>
        <xs:element type="xs:string" name="DealTime"/>
        <xs:element type="xs:string" name="Payer"/>
        <xs:element type="xs:string" name="RawResult"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>