tech/src/main/java/xmlXsd/瑞丽退票查询结果.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Msg"/>
        <xs:element type="xs:string" name="Code"/>
        <xs:element type="xs:string" name="IsSuccess"/>
        <xs:element name="Data" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PassengerName"/>
              <xs:element type="xs:string" name="RouteName"/>
              <xs:element type="xs:string" name="FlightDate"/>
              <xs:element type="xs:string" name="FlightTime"/>
              <xs:element type="xs:string" name="FlightNo"/>
              <xs:element type="xs:string" name="TicketPrice"/>
              <xs:element type="xs:string" name="AirportTax"/>
              <xs:element type="xs:string" name="FuelTax"/>
              <xs:element type="xs:string" name="InsurancePrice"/>
              <xs:element type="xs:string" name="TicketPayPrice"/>
              <xs:element type="xs:string" name="RefundPoundage"/>
              <xs:element type="xs:string" name="AutoRefundPrice"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>