tech/src/main/java/xmlXsd/验舱返回.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="resCode"/>
        <xs:element type="xs:string" name="resMessage"/>
        <xs:element type="xs:string" name="routeType"/>
        <xs:element name="results" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="sourceExt"/>
              <xs:element name="routes" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="airline"/>
                    <xs:element type="xs:string" name="depAirport"/>
                    <xs:element type="xs:string" name="arrAirport"/>
					<xs:element type="xs:string" name="depDate" />
					<xs:element type="xs:string" name="depTime" />
                    <xs:element name="segments" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="depAirport"/>
                          <xs:element type="xs:string" name="arrAirport"/>
                          <xs:element type="xs:string" name="depDate"/>
                          <xs:element type="xs:string" name="depTime"/>
                          <xs:element type="xs:string" name="flightNo"/>
                          <xs:element name="cabinInfos" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="cab"/>
                                <xs:element type="xs:string" name="num"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>