tech/src/main/java/xmlXsd/验舱请求.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="routeType"/>
        <xs:element name="routes" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="airline"/>
              <xs:element type="xs:string" name="depAirport"/>
              <xs:element type="xs:string" name="arrAirport"/>
              <xs:element type="xs:string" name="depDate"/>
              <xs:element type="xs:string" name="depTime"/>
              <xs:element name="segments" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="depAirport"/>
                    <xs:element type="xs:string" name="arrAirport"/>
                    <xs:element type="xs:string" name="depDate"/>
                    <xs:element type="xs:string" name="depTime"/>
                    <xs:element type="xs:string" name="flightNo"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>