tech/src/main/java/xmlXsd/joyfulJourney/火车车次列表.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="date"/>
              <xs:element type="xs:string" name="from_station"/>
              <xs:element type="xs:string" name="station_train_code"/>
              <xs:element type="xs:string" name="to_station"/>
              <xs:element type="xs:byte" name="total_num"/>
              <xs:element type="xs:string" name="train_no"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="status"/>
        <xs:element type="xs:string" name="errorMsg"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>