tech/src/main/java/xmlXsd/joyfulJourney/火车车次查询.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="validateMessagesShowId"/>
        <xs:element type="xs:string" name="status"/>
        <xs:element type="xs:short" name="httpstatus"/>
        <xs:element name="data1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="data2" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="arrive_day_str"/>
                    <xs:element type="xs:string" name="station_name"/>
                    <xs:element type="xs:string" name="train_class_name"/>
                    <xs:element type="xs:string" name="is_start"/>
                    <xs:element type="xs:byte" name="service_type"/>
                    <xs:element type="xs:string" name="end_station_name"/>
                    <xs:element type="xs:string" name="arrive_time"/>
                    <xs:element type="xs:string" name="start_station_name"/>
                    <xs:element type="xs:string" name="station_train_code"/>
                    <xs:element type="xs:byte" name="arrive_day_diff"/>
                    <xs:element type="xs:string" name="start_time"/>
                    <xs:element type="xs:byte" name="station_no"/>
                    <xs:element type="xs:string" name="wz_num"/>
                    <xs:element type="xs:string" name="running_time"/>
                    <xs:element type="xs:string" name="OT"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="messages"/>
        <xs:element type="xs:string" name="validateMessages"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>